<div class='analysis'>

  <div class="jumbo">
    <a href='/'> <img src='assets/images/logo.png' class='logo'></a><br>
  </div>
  <div class="topic">
    <h1>Topic:
      {{ keyword }}</h1>
  </div>
  <div class="factCheck">
    <p>Google Fact Check Results: </p>
    <p>Claim: Masks Not Needed</p>
    <p>Publisher: Trump</p>
    <p>Title: Tweet #10,976</p>
    <p>Fact Check Rating: Mostly False</p>
    {{!-- fact check here --}}
  </div>
  <div class='blueFeed group'>
    {{#each blues}}

    <div class='card'>
      <img src='{{ dataValues.image }}' class='cardImage'>
      <p class='cardText'> {{ dataValues.text }}</p>


    </div>


    {{/each}}

  </div>


  {{#each reds}}

<div class='redFeed group'>
        <div class='card'>
            <img src='{{ dataValues.image }}' class='cardImage'>
            <p class='cardText'> {{ dataValues.text }}</p>    
        </div>


    </div>


    {{/each}}


  </div>
</div>
