<div class='analysis'>

  <div class="jumbo">
    <a href='/'> <img src='assets/images/logo.png' class='logo'></a><br>
  </div>
  <div>
    <h1 class="topicHead">Topic:
      <span class="topic">{{ keyword }}</span></h1>
  </div>

  {{!-- fact check here --}}
  <div class="list-container factCheck group googleBox">
    <p class="factCheckHead">Google Fact Check Results</p>

       {{#each googleInfos}}
          {{#if title}}
            <div class='factCheckBox'>
         
              <p><strong>Claim:</strong>
               {{title}}</p>

              <p><strong>Rated by: &nbsp;</strong><a href='{{publisher.site}}'>{{publisher.name}}</a></p>

              <p> <strong>Rating:</strong>
                <span class="">{{textualRating}}</span></p>
            </div>
             {{/if}}
        {{/each}}



  </div>
</div>


<div class="outletStats">
News Outlet Stats go here.
</div>



</div>
<div class='feedContainer group'>
  <div class='feed blueFeed group'>
    <div class='stats'><span class='countNumber'>{{ blueCount }}</span> Liberal posts</div>
   
    {{#each blues}}
      {{> cards/card-block}}
    {{/each}}
  </div>

  <div class='feed redFeed group'>
       <div class='stats'><span class='countNumber'>{{ redCount }}</span> Conservative posts</div>
    {{#each reds}}
      {{> cards/card-block}}
    {{/each}}
  </div>
</div>